@{
    ViewBag.Title = "NoEntry";
}
<br /><br />

@{
    Layout = null;
}
<h1>Sorry you do not have permission to access this site.</h1>

<script>

    window.setTimeout(function () {
        window.location.href = 'http://www.centrahealth.com';
    }, 5000);

</script>
